{%extends "basicus.html"%}
{%block title%}Легион-Главная{%endblock%}
{%block body%}
<div class="container p-3 border rounded-lg">
    <h3 class="mb-4">Личный кабинет</h3>

    <div class="name bg-dark text-light p-2">Здравствуйте, {{volonteer[1]}} {{volonteer[2]}} {{volonteer[3]}}</div>

    <div class="rule_menu m-2">
        <a href="/us/cabinet/nextevt">Предстоящие события доступные для регистрации</a> | 
        <a href="/us/cabinet/regevt">Предстоящие события на которые зарегистрирован</a> | 
        <a href="/us/cabinet/lastevt">События в которых принял участие</a>
    </div>
    <div class="content">
        {{content|safe}}
    </div>
</div>
    {%endblock%}
