{%extends "basic.html"%}
{%block title%}Волонтеры НИУ ВШЭ - о нас{%endblock%}
{%block body%}


<div class="container">
<h2 class="m-2">Контакты</h2>
<div class="news">
    <div class="media border rounded-right m-2 p-2">        <!---->
        <div>
            <p>Дирекция по профессиональной ориентации и работе с одаренными учащимися. Перейти на <a href="//talent.hse.ru">сайт</a>.</p>
            <p>Адресс: Москва, ул. Мясницая д.18, офис: 18-210, 18-211, 18-212</p>
            <p>Адрес электронной почты: olymp@hse.ru</p>
            <p>Телефон: 8 495 531 00 74</p>
        </div>        
    </div>
</div>
</div>
{%endblock%}
