{%extends "basic.html"%}
{%block title%}Волонтеры НИУ ВШЭ - Новости{%endblock%}
{%block meta%}<meta http-equiv="Refresh" content="300" />{%endblock%}
{%block body%}


<div class="container">
    <h2 class="m-2">Новости из нашей <a href="https://vk.com/hsevolunteers">группы ВК</a></h2>
    <div class="news">
        {% for post in posts %}

        <div class="media border rounded-right m-2 p-2">

            <div>
                {% if post.get('photo_src') %}
                <img src="{{post.get('photo_src')}}" />
                {% else %}
                <img src="/static/image/for_new/com.png" />
                {% endif %}
            </div>

            <div class="media-body ml-3">
                <div class="datenews small"></div>
                <h3 class="titlenews"></h3>
                <div class="datenews small">{{post.get('date')}}</div>
                <div class="bodynews">{{post.get('text')|safe}}</div>
                {% if post.get('dop') %}
                <div class="media border rounded-right m-2 p-2">
                    <div class="media-body ml-3">
                        <div class="bodynews">{{post.get('dop')|safe}}</div>
                    </div>
                </div>
                {% elif post.get('link') %}
                <div class="media border rounded-right m-2 p-2">
                    <div class="media-body ml-3">
                        <div class="bodynews"><a href="{{post.get('link')}}">{{post.get('title_link')}}</a></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
    VK.Widgets.Group("vk_groups", { mode: 4, wide: 1, no_cover: 1, height: "400" }, 51217336);
</script>
{%endblock%}
